$errorColorAndBorder: red;
$inputElementBackgroundAndBorder:#cccccc;

.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid $inputElementBackgroundAndBorder;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus{
    background-color: $inputElementBackgroundAndBorder;
    outline: none;
}

.Invalid{
    border: 1px solid $errorColorAndBorder;
    background-color: #fda49a;
}

.ValidationError{
    color: $errorColorAndBorder;
    margin: 5px 0;
}